@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
    /* Definizione dei tuoi colori */
    --bg-blue: #031633;
}

body {
  font-family: 'RobotoMono NF', monospace;
  background: white;
}

@font-face {
  font-family: 'RobotoMono NF';
}

h1 {
  font-size: 30px;
  justify-content: center;
  display: flex;
  background: var(--bg-blue);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
}

.status-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--bg-blue);
}

.mainboard-info,
.footer {
  margin-left: 6px;
  font-weight: bold;
  color: var(--bg-blue);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  margin-top: 6px;
  border-radius: 6px;
  overflow: hidden;
}

th,
td {
  border: 1px solid #ddd;
  padding: 3px 4px;
  text-align: center;
  font-size: 16px;
  line-height: 1.15;
}

th {
  background: var(--bg-blue);
  position: sticky;
  top: 0;
  color: white;
  text-transform: uppercase;
}

tr:hover td {
    background-color: rgba(0, 212, 255, 0.05);
    color: black;
}

.tag {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 16px;
}

.tag.up {
  background: #e6ffed;
  border: 1px solid #2ecc71;
  color: #2e7d32;
}

.tag.down {
  background: #fff3e6;
  border: 1px solid #ff9800;
  color: #e65100;
}

.tag.trip {
  background: #ffe6e6;
  border: 1px solid #e53935;
  color: #b71c1c;
}

.msg {
  margin-left: 6px;
  font-size: 16px;
  color: #555;
}

.sensor-line,
.daq-line,
.rc-line {
  background: var(--bg-blue);
  backdrop-filter: blur(10px);
  color: white;
  border-bottom: 1px solid #333;
  padding: 8px 20px;
  display: flex;
  border-radius: 5px;
  margin-top: 8px;
}

.sensor-line i,
.sensor-line span.icon,
.daq-line i,
.daq-line span.icon,
.rc-line i,
.rc-line span.icon {
    color: #00d4ff;
    text-shadow: 0 0 8px rgba(0, 212, 255, 0.6);
}

.label {
  font-weight: 600;
  margin-right: 6px;
}

#global-controls {
  margin-top: 15px;
  text-align: center;
}

.main-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 30px;
  overflow-x: auto;
  margin-top: 6px;
  color: var(--bg-blue);
}

.control-group {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 15px;
  white-space: nowrap;
}

.group-title {
  font-weight: bold;
  margin-right: 10px;
  color: var(--bg-blue);
}

input[type="number"] {
  padding: 2px;
}

.control-group button {
  padding:2px 5px;
  font-size: 14px;
  border:1px solid;
  background:#fff;
  border-radius:4px;
  cursor:pointer;
  box-shadow: 2px 2px #f6f6f6;
}

.control-group button:hover {
  background:#f3f3f3;
}

#apply-btn {
  background:rgba(0,212,255,0.25);
  border:1px solid #00d4ff;
  border-radius:4px;
}

.control-group select,
.control-group input {
  padding:2px 5px;
  background: #f6f6f6;
  border: 1px solid;
  border-radius: 4px;
}

.status-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 15px;
}

.status-section {
  flex: 1;
  padding-right: 15px;
  border-right: 1px solid #eee;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}