@import "https://www.nerdfonts.com/assets/css/webfont.css";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

* {
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 0;
}

:root {
    --my-green: #5B7E3C;
    --my-yellow: #FFD65A;
    --my-orange: #FF9D23;
    --my-red: #EA5252;
    --dark-red: rgba(234, 82, 82, 0.25);

    --bg-main: #FDFCF7;
    --bg-bar: #F2F0E4;
    --border-color: #DEDCCB;
    --text-main: #1B1B1B;
}

body {
    font-family: 'RobotoMono NF', monospace;
    background: var(--bg-main);
}

@font-face {
    font-family: 'RobotoMono NF';
}

h1 {
    font-size: 30px;
    justify-content: center;
    display: flex;
    color: var(--text-main);
    background: transparent;
    padding: 8px 20px;
    position: sticky;
    margin: 0;
}

.status-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--my-green);
}

.mainboard-info,
.footer {
    margin-left: 6px;
    font-weight: bold;
    color: var(--text-main);
}

.footer-status-connected {
    color: var(--my-green);
}

.footer-status-disconnected {
    color: var(--my-red);
}

.footer-status-unknown {
    color: var(--text-main);
}

table {
    width: 100%;
    border-spacing: 0;
    margin-top: 6px;
    border-radius: 6px;
}

th,
td {
    border: 1px solid var(--my-green);
    padding: 3px 4px;
    text-align: center;
    font-size: 16px;
    line-height: 1.15;
}

th {
    background: var(--my-green);
    position: sticky;
    color: var(--bg-main);
    text-transform: uppercase;
}

th:first-child {
border-radius: 6px 0 0 0;
}

th:last-child {
    border-radius: 0 6px 0 0;
}

tr:hover td {
    background-color: rgba(91, 126, 60, 0.05);
    color: var(--text-main);
}

.tag {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 16px;
}

.tag.up {
    color: var(--my-green);
}

.tag.down {
    color: var(--my-orange);
}

.tag.trip {
    color: var(--my-red);
}

.daq-line {
    display: flex;
    border-radius: 4px;
    margin-top: 8px;
}

.sensor-line {
    display: inline-block;
    border-radius: 4px;
    margin-top: 8px;
    background: var(--bg-bar);
    backdrop-filter: blur(10px);
    color: var(--text-main);
    border-bottom: 1px solid var(--border-color);
    padding: 8px 15px;
}

.data-line,
.clock-line,
.timing-line {
    margin-left: 0;
    margin-right: auto;
    background: var(--bg-bar);
    backdrop-filter: blur(10px);
    color: var(--text-main);
    border-bottom: 1px solid var(--border-color);
    display: inline-block;
    padding: 8px 15px;
    border-radius: 4px;
}

.tray {
    width: 49.8%;
    background: var(--bg-bar);
    backdrop-filter: blur(10px);
    color: var(--text-main);
    border-bottom: 1px solid var(--border-color);
    padding: 8px 20px;
    display: flex;
    border-radius: 4px;
    margin-top: 8px;
}

.sensor-line i,
.sensor-line span.icon,
.daq-line i,
.daq-line span.icon,
.rc-line i,
.rc-line span.icon,
.tray i,
.tray span.icon {
    color: var(--my-green);
}

.bottom-line {
    border-radius: 4px;
    margin-top: 8px;
    display: flex;
}

.rc-line {
    margin-left: 0;
    margin-right: auto;
}

.logs-tray {
    margin-left: auto;
    margin-right: 0;
}

.label {
    font-weight: 600;
    margin-right: 6px;
}

#global-controls {
    margin-top: 15px;
    text-align: center;
}

.main-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
    overflow-x: auto;
    margin-top: 6px;
    color: var(--text-main);
}

.control-group {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 15px;
    white-space: nowrap;
}

.group-title {
    font-weight: bold;
    margin-right: 10px;
    color: var(--text-main);
}

input[type="number"] {
    padding: 2px;
}

input[type="text"] {
    width: 100px;
}

.control-group button {
    padding:2px 5px;
    font-size: 14px;
    border:1px solid;
    background: var(--bg-main);
    border-radius:4px;
    cursor:pointer;
}

.control-group button:hover {
    background:#f3f3f3;
}

#apply-btn {
    background:rgba(91, 126, 60, 0.25);
    border:1px solid #5B7E3C;
    border-radius:4px;
}

#fifo-btn,
#acq-btn {
    margin-left: auto;
    margin-right: 0;
    padding:2px 5px;
    font-size: 14px;
    background:rgba(91, 126, 60, 0.25);
    border:1px solid #5B7E3C;
    border-radius:4px;
    cursor:pointer;
}

#acq-btn.acq-start {
    background:rgba(91, 126, 60, 0.25);
    border: 1px solid var(--my-green);
}

#acq-btn.acq-stop {
    background: var(--my-red);
    border: 1px solid var(--dark-red);
}

#acq-btn.acq-stop:hover {
    background: var(--dark-red);
}

#apply-btn:hover,
#fifo-btn:hover,
#acq-btn.acq-start:hover {
    background: var(--my-green);
    color: var(--bg-main);
}

.control-group select,
.control-group input {
    padding:2px 5px;
    background: #f6f6f6;
    border: 1px solid;
    border-radius: 4px;
}

.state-btn {
  border-radius: 4px;
  cursor: pointer;
}

.state-btn.is-active {
    background:rgba(91, 126, 60, 0.25);
    border: 1px solid var(--my-green);
}

.state-btn.is-inactive {
    background: var(--btn-inactive-bg);
    border: 1px solid;
}