@import "https://www.nerdfonts.com/assets/css/webfont.css";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

* {
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 0;
}

:root,
[data-theme="blue"] {
    --bg-main: #F9F7F7;
    --bg-bar: #112D4E;
    --bg-table: #112D4E;
    --bg-table-hover: rgba(17, 45, 78, 0.05);
    --text-bar: #F9F7F7;
    --text-main: #112D4E;

    --color-icons: #3F72AF;
    --bg-icons: rgba(63, 114, 175, 0.6);

    --text-up: green;
    --text-down: orange;
    --text-trip: red;

    --btn-active-bg: rgba(63, 114, 175, 0.5);
    --btn-active-border: #3F72AF;
    --btn-inactive-bg: #fff;
    --btn-inactive-border: #ccc;

    --status-connected: #3F72AF;
    --status-disconnected: #EA5252;
    --status-unknown: #1B1B1B;

    --acq-stop-bg: rgba(234, 82, 82, 0.25);
}

[data-theme="green"] {
    --bg-main: #FDFCF7;
    --bg-bar: #F2F0E4;
    --bg-table: #5B7E3C;
    --bg-table-hover: rgba(91, 126, 60, 0.05);
    --text-main: #1B1B1B;
    --text-bar: #1B1B1B;

    --color-icons: #5B7E3C;
    --bg-icons: transparent;

    --text-up: #5B7E3C;
    --text-down: #FF9D23;
    --text-trip: #EA5252;

    --btn-active-bg: rgba(91, 126, 60, 0.25);
    --btn-active-border: #5B7E3C;
    --btn-inactive-bg: #fff;
    --btn-inactive-border: #ccc;

    --status-connected: #5B7E3C;
    --status-disconnected: #EA5252;
    --status-unknown: #1B1B1B;

    --acq-stop-bg: rgba(234, 82, 82, 0.25);
}

body {
    font-family: 'RobotoMono NF', monospace;
    background: var(--bg-main);
}

@font-face {
    font-family: 'RobotoMono NF';
}

h1 {
    font-size: 30px;
    justify-content: center;
    display: flex;
    color: var(--text-main);
    background: transparent;
    padding: 8px 20px;
    position: sticky;
    margin: 0;
}

.status-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--bg-table);
}

.mainboard-info,
.footer {
    margin-left: 6px;
    font-weight: bold;
    color: var(--text-main);
}

.footer-status-connected {
  color: var(--status-connected);
}

.footer-status-disconnected {
  color: var(--status-disconnected);
}

.footer-status-unknown {
  color: var(--status-unknown);
}

table {
    width: 100%;
    border-spacing: 0;
    margin-top: 6px;
    border-radius: 6px;
}

th,
td {
    border: 1px solid var(--bg-table);
    padding: 3px 4px;
    text-align: center;
    font-size: 16px;
    line-height: 1.15;
}

th {
    background: var(--bg-table);
    position: sticky;
    color: var(--bg-main);
    text-transform: uppercase;
}

th:first-child {
    border-radius: 6px 0 0 0;
}

th:last-child {
    border-radius: 0 6px 0 0;
}

tr:hover td {
    background-color: var(--bg-table-hover);
    color: var(--text-main);
}

.tag {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 16px;
}

.tag.up {
    color: var(--text-up);
}

.tag.down {
    color: var(--text-down);
}

.tag.trip {
    color: var(--text-trip);
}

.daq-line {
    display: flex;
    border-radius: 4px;
    margin-top: 8px;
}

.sensor-line {
    display: inline-block;
    border-radius: 4px;
    margin-top: 8px;
    background: var(--bg-bar);
    backdrop-filter: blur(10px);
    color: var(--text-bar);
    padding: 8px 15px;
}

.data-line,
.clock-line,
.timing-line {
    margin-left: 0;
    margin-right: auto;
    background: var(--bg-bar);
    backdrop-filter: blur(10px);
    color: var(--text-bar);
    border-bottom: 1px solid var(--border-color);
    display: inline-block;
    padding: 8px 15px;
    border-radius: 4px;
}

.tray {
    width: 49.8%;
    background: var(--bg-bar);
    backdrop-filter: blur(10px);
    color: var(--text-bar);
    border-bottom: 1px solid var(--border-color);
    padding: 8px 20px;
    display: flex;
    border-radius: 4px;
    margin-top: 8px;
}

.sensor-line i,
.sensor-line span.icon,
.daq-line i,
.daq-line span.icon,
.rc-line i,
.rc-line span.icon,
.tray i,
.tray span.icon {
    color: var(--color-icons);
    text-shadow: var(--bg-icons);
}

.bottom-line {
    display: flex;
    border-radius: 4px;
    margin-top: 8px;
}

.rc-line {
    margin-left: 0;
    margin-right: auto;
}

.logs-tray {
    margin-left: auto;
    margin-right: 0;
}

.label {
    font-weight: 600;
    margin-right: 6px;
}

#global-controls {
    margin-top: 15px;
    text-align: center;
}

.main-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
    overflow-x: auto;
    margin-top: 6px;
    color: var(--text-main);
}

.control-group {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 15px;
    white-space: nowrap;
}

.group-title {
    font-weight: bold;
    margin-right: 10px;
    color: var(--text-main);
}

input[type="number"] {
    padding: 2px;
}

input[type="text"] {
    width: 100px;
}

.control-group button {
    padding:2px 5px;
    font-size: 14px;
    border:1px solid;
    background: var(--bg-main);
    border-radius:4px;
    cursor:pointer;
}

.control-group button:hover {
    background:#f3f3f3;
}

#apply-btn,
#fifo-btn,
#acq-btn {
    margin-left: auto;
    margin-right: 0;
    padding:2px 5px;
    font-size: 14px;
    background: var(--btn-active-bg);
    border:1px solid var(--btn-active-border);
    border-radius:4px;
    cursor: pointer;
}

#acq-btn.acq-start {
  background: var(--btn-active-bg);
  border: 1px solid var(--btn-active-border);
}

#acq-btn.acq-stop {
  background: var(--acq-stop-bg);
  border: 1px solid var(--status-disconnected);
}

#acq-btn.acq-stop:hover {
    background: var(--acq-stop-bg);
}

#apply-btn:hover,
#fifo-btn:hover,
#acq-btn.acq-start:hover {
    background: var(--bg-table);
    color: var(--bg-main);
    border: 1px solid var(--bg-table);
}

.control-group select,
.control-group input {
    padding:2px 5px;
    background: #f6f6f6;
    border: 1px solid;
    border-radius: 4px;
}

.state-btn {
    border-radius: 4px;
    cursor: pointer;
}

.state-btn.is-active {
    background: var(--btn-active-bg);
    border: 1px solid var(--btn-active-border);
}

.state-btn.is-inactive {
    background: var(--btn-inactive-bg);
    border: 1px solid var(--btn-inactive-border);
}

.theme-selector {
    color: var(--text-bar);
    display: inline-block;
    padding: 8px 20px;
    background: var(--bg-bar);
    border-radius: 4px;
    margin-top: 8px;
}