<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FD mPMT — Live Monitor</title>

    <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        window.APP_CONFIG = {
          refreshMs: {{ refresh_ms }}
        };
    </script>
    <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>

<body>
    <h1>FD mPMT — Live Monitor&nbsp;<i class="nf nf-md-monitor_dashboard"></i></h1>

    <div class="status-bar-container">
        <div class="footer">
            Updated: <span id="updated_at">—</span> | Firmware: <span id="firmware_ver">—</span> | IP: {{ ip }}
        </div>

        <div id="mainboard_info" class="mainboard-info"></div>
    </div>

    <div id="sensor-line" class="sensor-line">Sensors: loading...</div>

    <div id="daq-line" class="daq-line">DAQ: loading...</div>

    <div class="main-container">
        <div class="control-group">
            <span class="group-title">Channel:</span>
            <select id="ch_select">
                <option value="all">All</option>
                {% for ch in channels %}
                <option value="{{ ch }}">{{ ch }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="control-group">
            <span class="group-title">HighVoltage:</span>

            <label>Param:</label>
            <select id="hv_param_select">
                <option value="Vset">Vset [V]</option>
                <option value="Thr">Thr [mV]</option>
            </select>

            <label>Val:</label>
            <input id="hv_param_value" type="number" step="1" placeholder="Insert value...">

            <button onclick="hvOn()" class="btn-on">HV ON</button>
            <button onclick="hvOff()" class="btn-off">HV OFF</button>

            <button id="apply-btn" onclick="setParamHV()">Apply</button>
        </div>

        <div class="control-group">
            <span class="group-title">RunControl:</span>

            <label>Param:</label>
            <select id="rc_param_select">
                <option value="Rate_Threshold">Rate Threshold</option>
                <option value="Time_to_Peak">Time to Peak [ns]</option>
                <option value="Pulser_frequency">Pulser Frequency [Hz]</option>
                <option value="Spi_speed">Spi speed [0..3]</option>
            </select>


            <label>Val:</label>
            <input id="rc_param_value" type="number" step="1" placeholder="Insert value...">

            <span id="input_hint" class="hint"></span>

            <button id="apply-btn" onclick="setParamRC()">Apply</button>
        </div>

            <button id="fifo-btn" onclick="rstFIFO()">Reset FIFO</button>

        <div>
            <input id="acq_ip" type="text" placeholder="192.168.1.1" pattern="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$">

            <button id="acq-btn">Start ACQ</button>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Ch</th>
                <th>Power</th>
                <th>Enable</th>
                <th>Trigger</th>
                <th>Pulser</th>
                <th>HV</th>
                <th>Block</th>
                <th>Rate [Hz]</th>
                <th>Rate Threshold [Hz]</th>
                <th>Time to Peak [ns]</th>
                <th>V [V]</th>
                <th>Vset [V]</th>
                <th>I [uA]</th>
                <th>T [°C]</th>
                <th>Status</th>
                <th>Thr [mV]</th>
                <th>Alarm</th>
            </tr>
        </thead>

        <tbody id="tbody"></tbody>

        <tfoot>
            <tr class="global-controls-row">
                <td class="label-cell">ALL</td>
                <td>
                    <button onclick="rcTurnAll('on')">ON</button>
                    <button onclick="rcTurnAll('off')">OFF</button>
                </td>
                <td>
                    <button onclick="rcAcqAll('enable')">EN</button>
                    <button onclick="rcAcqAll('disable')">DIS</button>
                </td>
                <td>
                    <button onclick="rcTrigAll('enable')">EN</button>
                    <button onclick="rcTrigAll('disable')">DIS</button>
                </td>
                <td>
                    <button onclick="rcPulsAll('enable')">EN</button>
                    <button onclick="rcPulsAll('disable')">DIS</button>
                </td>
                <td>
                    <button onclick="hvCtrlAll('on')">ON</button>
                    <button onclick="hvCtrlAll('off')">OFF</button>
                </td>
                <td>
                    <button onclick="rcRstAll('lock')">LOCKED</button>
                    <button onclick="rcRstAll('free')">FREE</button>
                </td>
                <td colspan="14"></td>
            </tr>
        </tfoot>
    </table>

    <div id="bottom-line" class="bottom-line">
        <div id="rc-line" class="tray rc-line">Run Control: loading...</div>
        <div id="logs" class="tray logs-tray"><i class="nf nf-md-message_outline"></i>&nbsp;Logs:&nbsp;
            <div id="msg" class="msg"></div>
        </div>
    </div>
</body>
</html>